header{
    height: 200px;
    width: 100%;
}


#logo{
    height: 100px ;
    width: 90px;
}

#logoCarrito{
    height: 60px ;
    width: 50px; 
}

#titulo{
    margin-top: 20px;
}

form{
    border: 1px solid white;
    height: 300px;
}

#formulario{
    margin-top: 10px;
    margin-bottom: 10px;
}

h3,h1{
    background-color: black;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

#contenidoForm, #contacto{
    margin-top: 35px;
}



